html {
  height: 100%;
  width: 100%;
  font-family: 'arial';
}

h1 {
  font-size: 56px;
  text-align: center;
  color: #1775E4;
}

h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.poster {
  height: 500px;
  width: auto;
  aspect-ratio: 2/3;
  margin: 16px auto;
  background-size: 100% 100%;
  position: relative;
}

.screen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid: repeat(15, 1fr) / repeat(10, 1fr);
}

.piece {
  background-color: black;
}

.hidden {
  visibility: hidden;
}

.button-blue {
  width: 100%;
  background-color: #1775E4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  margin: 4px 4px;
  border-radius: 8px;
}

.button-green {
  background-color: #33C01C;
  width: 100%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
}

.button-green2 {
  background-color: #33C01C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.highscore {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1em;
  color: #E41792;
}

.flex-col {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flexbox-item {
  margin: 20px;
  min-height: 10px;
  text-align: center;
  color: #000000;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.items {
  border: 1px solid black;
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid-item1 {
  margin-top: 10px;
  min-height: 20px;
  text-align: center;
  color: #E41792;
  font-size: 25px;
}

.grid-item2 {
  min-height: 20px;
  text-align: center;
  color: #000000;
}

.grid-item3 {
  min-height: 20px;
  text-align: center;
  color: #237B0C;
  font-size: 50px; 
}

.input-box {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  cursor: pointer;
  border-radius: 8px;
}
